<!DOCTYPE html>
<html>

<head>
  <link href="/app/public/assets/style.css" rel="stylesheet">
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <title>Introdução ao Node JS</title>
</head>

<style>
  h1{
    color:green;
    font-weight: bolder;
  }

  ul li{
    list-style-type: none;
  }

  .erros{
    color:rgb(255, 97, 97);
    text-decoration: none;
    background-color: pink;
  }

  p{
    font-weight: bold;
  }
</style>

<body>
  <h1>Cadastro de Clientes</h1>
  <% var texto="NODE JS + EJS + EXPRESS + NODEMON" ; %>
    <p>
      <%= texto %>
    </p>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul>
            <% for(var chave in clientes){ %>
              <li>
                <b>Nome:</b> <%= clientes[chave].nome %> - <b>E-mail:</b> <%= clientes[chave].email %>
              </li>
              <% } %>
          </ul>
        </div>
      </div>
      <br>
      <% if(erros){ %>
        <div class="row">
          <div class="erros col-12">
            <ul>
              <% for(var k in erros){ %>
                <li>
                  <b>
                    <%= erros[k].msg %>
                  </b>
                </li>
                <% } %>
            </ul>
          </div>
        </div>
        <% } %>

          <form action="/" method="post">
            <input type="text" name="nome" placeholder="Nome" value="<%= dados.nome %>">
            <input type="text" name="email" placeholder="E-mail" value="<%= dados.email %>">
            <button class="btn btn-success">Adicionar</button>
          </form>
    </div>
</body>

</html>